* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ICON STYLES */
.fa-css3-alt{
  color: royalblue;
}

.fa-html5{
  color: orangered; 
}

.fa-js-square {
  color: yellow;
}

.fa-react {
  color: skyblue;
}

.fa-node {
  color: #66cc33;
}
.fa-git-alt {
  color: orange;
}



.blurb-link:visited {
  color: white;
  font-weight: bold;
}
.blurb-link {
  text-decoration: underline;
}
div#mahface {
  padding: .7em;
}

.resume {
  width: 100%;
}

body {
  background: black;
}

#my-statement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#project-title h1 {
  padding: 1em;
  font-size: 2em;
  font-weight: 200;
  font-family: 'Lato';
}


/* About - AJAX SON */
#about {
  border: solid 2px white;
  height: 100%;
  background-color: black;
  color: white;
  text-align: center;
  -webkit-box-shadow: 5px 5px 15px -5px rgba(255,255,255,0.86); 
  box-shadow: 5px 5px 15px -5px rgba(255,255,255,0.86);
}
#about p {
  font-size: 1.6em;
}
#about h1 {
  font-family: "Lato";
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
  color: black;
}

#project-container {
  /* background-color: white; */
  color: white;
  width: 100%;
}

.blurb p{
  font-family: 'Lato'
}

#box {
  border: solid 2px white;
  border-radius: 3px;
  background-color: black;
  width: 20%;
}

.sticky {
  position: fixed;
  top: 0%;
  /* width: 100%; */
}

#master-nav {
  display: flex;
  flex-wrap: wrap;
}

.find-me li {
  color: white;
  padding-left: 1em;
}

.find-me {
  display: flex;
  list-style: none;
  min-height: 100%;
}

.master-links {
  min-height: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}

#master-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#my-statement {
  min-height: 100vh;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* These two rules will cause it to grow quickly */
#button1:hover, #button2:hover{
  transform: scale(1.1);
}

#button1, #button2{
  transition: all .2s ease-in-out;
}


/* This will make the Send Message bigger */
button[type="submit"]:hover{
  transform: scale(1.1);
  -webkit-box-shadow: 5px 5px 15px -6px rgba(255,255,255,0.62); 
box-shadow: 5px 5px 15px -6px rgba(255,255,255,0.62);
}

button[type="submit"]{
  transition: all .5s ease-in-out;
}

.portfolio-link-i:hover {
  text-shadow: 2px 2px 3px rgba(236,236,236,0.91), -1px -1px 6px rgba(236,236,236,0.6);
}

.portfolio-link-i:visited, .bob-dylan:visited {
  color: white;
}

.master-links li:hover {
  text-shadow: 2px 2px 3px rgba(236,236,236,0.91), -1px -1px 9px rgba(236,236,236,0.6);
}

.typewriter {
  border-right: 0.15em solid orange; /* The typwriter cursor */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* HEADER FONT */
.who-am-i {
  display: flex;
}


.who-am-i {
  text-align: center;
}

.talking {
  padding: 2em;
}

.who-am-i h1 {
  font-size: 3.5em;
  color: rgb(245, 244, 244);
  font-weight: 300;
  font-family: "Lato", sans-serif;
  animation: mahFade 3s;
}
.who-am-i h1:nth-child(1) {
  animation: mahFade 3s;
}

.who-am-i h1:nth-child(2) {
  font-size: 3.5em;
  font-weight: 300;
  color: rgb(245, 244, 244);
  font-family: "Lato", sans-serif;
  animation: mahFade 3s;
}


/* My Statement Buttons */

#buttons {
  padding: 20px;
}

#button1:hover, #button2:hover {
  font-size: 1em;
}

#button1, #button2 {
  
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,7db9e8+100 */
  background: #3c8be6; /* Old browsers */
  background: -moz-linear-gradient(
    -100deg,
    #1e5799 0%,
    #2989d8 50%,
    #7db9e8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #1e5799 0%,
    #2989d8 50%,
    #7db9e8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #1e5799 0%,
    #2989d8 50%,
    #7db9e8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: white;
  border: none;
  border-radius: 2px;
  padding: 20px;
  font-size: 1em;
}

#button2 {
  border: none;
  border-radius: 2px;
  padding: 20px;
  font-size: 1em;
  color: white;
}

/* Header */

#entire-header {
  background-image: linear-gradient(
      to bottom right,
      rgba(7, 7, 7, 0.5),
      rgba(80, 85, 69, 0.5)
    );
    /* url("./ImageChoices/variable.jpeg"); */
  background-position: center;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.master-links {
  display: flex;
  list-style: none;
  align-items: baseline;
}

.master-links li {
  font-size: 1rem;
  padding: 1.2em;
  font-weight: 100;
  font-family: "Lato";
}


.master-links li:hover {
text-shadow: 5px 5px 15px 5px rgba(0,0,0,0.77);
}

#bottom {
  text-align: center;
  color: white;
  font-size: .38em;
  font-weight: 100;
  letter-spacing: .2em;
  opacity: .7;
  font-family: 'Lato';
  text-transform: uppercase;
  animation: mahFade 6s;
}

.project-image {
  width: 100%;
}

.master-links a {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

/* Portfolio */

#all-the-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: baseline; */
  height: 100%;
}

#project-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-image i.fab {
  border: solid 2px black;
}

.portfolio-link-i {
  color: white;
}

.middle {
  animation: mahFade 4s;
  padding-top: 1em;
  padding-bottom: 1em;
  /* font-family: 'Oswald' */
}


#window2 {
  padding-bottom: .2em;
  font-family: 'Oswald';
  font-weight: 800;
  font-size: 4em;
}

#window1 {
  font-family: 'Oswald';
  font-weight: 800;
  letter-spacing: .03em;
}

/* Project Boxes */

#mah-projects {
  display: flex;
  flex-wrap: wrap;
}

#box .blurb {
  width: 100%;
  padding: 1em;
}

.box-title h2 {
  font-family: "Lato";
  font-size: 1.2em;
  color: white;
  padding: 0.7em;
}

.bob-dylan:visited {
  color: white;
}
.bob-dylan {
  text-decoration: none;
  color: white;
}

#group-1 label h3, #message-side h1{
  font-family: 'Lato';
}

textarea {
  width: 20em;
  height: 15em;
  resize: none;
  background-color: transparent;
  border: none;
  color: white;
}


.box-skills h3 {
  font-size: 0.8em;
}

#box {
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
}
/* End Project Boxes */

/* Skills */

#inside-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside {
  width: 50%;
}



#skills-group {
  padding-top: 1em;
}


.skills-name h3 {
  background-color: black;
  padding: 10px;
  display: inline-block;
  color: white;
  border: solid 1px white;
  border-radius: 3px;
  font-weight: 100;
  font-family: "Lato";
}

h1 .skills-image {
  display: flex;
}

/* End Skills */

/* About */
#about-me-intro,
#projects,
#part-1.skills h1 {
  display: flex;
  justify-content: center;
  /* background: linear-gradient(90deg, #091a17, rgb(79, 39, 37)); */
  background-color: rgb(20, 20, 20);
}

#part-1 h1,
.part-1 h1,
#part-1.skills h1 {
  font-size: 2.4rem;
  font-weight: 300;
  font-family: "Lato";
  /* margin-top: 30px; */
  color: white;
  padding: 0.7em;
}

img.me {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px white;
}

#entire-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  padding: 20px;
  width: 40%;
}


#about p {
  color: white;
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 0.8em;
}

/* Contact Me */

#inner-statement {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


/* .info-side {
  width: 30%;
}

.data-side {
  width: 70%;
} */

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
}

/* CONTACT FORM */

#the-actual-form {
  display: flex;
  align-items: baseline;
  
}

#contact-me {
  -webkit-box-shadow: 5px 5px 15px -5px rgba(255,255,255,0.86); 
  box-shadow: 5px 5px 15px -5px rgba(255,255,255,0.86);
}

#info-side {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 1em;
}

#group-1 label h3 {
  font-size: .7em;
}



#info-side input[type="text"]{
  background-color: transparent;
  border: none;
  color: white;
  /* padding: 1em; */
  width: 100%;
  font-size: 1em;
  padding: .5em;
  /* height: 100%; */
  border-bottom: solid 1px white;
}

.romeo-void {
  font-family: 'Lato';
  font-size: 2em;
  padding-bottom: .3em;
}

#message-side {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  border-left: solid .5px white;
  color: white;
}


#message-side h1 {
  font-size: .9em;
  padding-bottom: 1em;
}

#message-side button {
  padding: 1em;
  background-color: orange;
  border: none;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}

#group-1 {
  /* padding: 1em; */
  height: 100%;
}


#contact-me {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  padding: 1.2em;
}



#inner {
  font-family: 'Lato';
}

.sick {
  padding: .2em;
}

/* End Of CONTACT FORM */

@keyframes mahFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
